@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.section-header {
  height: 90px;
}

header {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  background: black;
  color: #fff;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.5);
}

header span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.5px;
}

header .navbar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .navbar a {
  font-size: 1.3rem;
  font-weight: 400;
  text-decoration: none;
  margin: 0 15px;
  color: white;
  letter-spacing: 1.3px;
}

header .navbar a:hover,
.active {
  color: #da500c;
  transition: 0.6s;
}

header .btn {
  font-size: 25px;
  cursor: pointer;
  display: none;
}

/*  Contact Page*/

.form-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-center h2 {
  font-size: 2rem;
  letter-spacing: 1px;
  margin-top: 2%;
}

.form-center-line {
  background-color: #da500c;
  height: 2px;
  width: 90px;
  margin-top: 5px;
}

.form-divs-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
}

.form-divs-container-box-1,
.form-divs-container-box-2 {
  box-shadow: 0 0 30px rgba(141, 145, 150, 0.6);
  height: 600px;
  width: 600px;
  margin: 6px 15px;
  padding: 5% 50px;
}

.main-form-hearder h2 {
  letter-spacing: 1px;
  font-size: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form input,
textarea {
  width: 90%;
  margin-top: 30px;
  padding: 10px 15px;
  font-size: 1.2rem;
  border-radius: 5px;
}

form button {
  width: 90%;
  background-color: #da500c;
  color: white;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-top: 30px;
}

.form-contact-info-header h2 {
  letter-spacing: 1px;
  font-size: 2rem;
}

.form-contact-info-header p,
.form-contact-info-social-media-icons h2 {
  font-size: 1.5rem;
  width: 400px;
  margin-top: 20px;
  margin-bottom: 30px;
  letter-spacing: 0.9px;
  font-weight: 700;
  color: #666;
}

.form-contact-info-icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.form-contact-info-icons {
  flex-direction: row;
  margin-top: 20px;
}

.form-contact-info-icons i {
  font-size: 2rem;
  margin-right: 15px;
  color: #da500c;
}

.form-contact-info-icons span {
  font-size: 1.2rem;
  color: #666;
  font-weight: 400;
  letter-spacing: 1px;
}

.form-contact-info-social-media-icons-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.form-contact-info-social-media-icons-links i {
  margin: 0px 15px;
  font-size: 2rem;
  color: #da500c;
  border-radius: 50%;
}

.form-map {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2% 0px;
}

.form-map-content,
iframe {
  width: 100%;
  height: 600px;
}

/* Contact from Media quires */

@media only screen and (max-width: 1440px) {
  .form-divs-container {
    flex-direction: row-reverse;
  }

  .form-divs-container .form-divs-container-box-2 .form-divs-container-box-1 {
    width: 800px;
  }

  .form-map-content {
    width: 87%;
  }
}

@media only screen and (max-width: 1024px) {
  .form-center h2 {
    font-size: 3rem;
  }

  .form-center-line {
    width: 180px;
  }

  .lin-2 {
    width: 200px;
  }

  .form-divs-container {
    flex-direction: column-reverse;
  }

  .form-divs-container-box-1,
  .form-divs-container-box-2 {
    width: 900px;
    height: 650px;
  }

  .form-contact-info-header h2 {
    font-size: 3rem;
  }
  .form-contact-info-header p,
  .form-contact-info-social-media-icons h2 {
    font-size: 2rem;
    width: 96%;
    margin-top: 3%;
  }

  .form-contact-info-links {
    margin-top: 20px;
  }

  .form-contact-info-icons {
    margin-top: 30px;
  }

  .form-contact-info-icons i {
    font-size: 3rem;
  }

  .form-contact-info-icons span {
    font-size: 1.8rem;
    letter-spacing: 0.9px;
    font-weight: 700;
    width: 660px;
  }

  .form-contact-info-social-media-icons-links {
    margin-top: 20px;
  }

  .form-contact-info-social-media-icons-links i {
    font-size: 3rem;
    margin-right: 35px;
    width: 50%;
  }

  /* Part 1 contact form */

  .main-form-hearder h2 {
    font-size: 2.5rem;
  }

  .main-form {
    margin-top: 20px;
  }

  form input,
  textarea {
    width: 80%;
    margin-top: 30px;
    font-size: 1.5rem;
    padding: 13px 20px;
    border-radius: 5px;
  }

  form button {
    font-size: 1.5rem;
    width: 80%;
    padding: 14px 20px;
    border-radius: 5px;
  }
}

@media only screen and (max-width: 768px) {
  .form-divs-container-box-1,
  .form-divs-container-box-2 {
    width: 659px;
    height: 700px;
  }
}

@media only screen and (max-width: 425px) {
  .form-divs-container-box-1 {
    width: 400px;
    height: 600px;
  }

  .form-divs-container-box-2 {
    width: 400px;
    height: 880px;
  }

  .form-divs {
    margin-top: 6%;
  }

  .form-contact-info-header h2 {
    font-size: 1.8rem;
  }

  .form-contact-info-header p,
  .form-contact-info-social-media-icons h2 {
    font-size: 1.3rem;
    letter-spacing: 0.5px;
  }

  .form-contact-info-header p,
  .form-contact-info-social-media-icons h2 {
    margin-top: 20px;
  }

  .form-contact-info-icons {
    flex-direction: column;
    box-shadow: 0 0 30px rgba(141, 145, 150, 0.6);
    width: 300px;
    padding: 30px 0px;
  }

  .form-contact-info-icons i {
    font-size: 1.3rem;
    border-radius: 50%;
    border: 1px solid #da500c;
    border-style: dotted;
    padding: 10px;
  }

  .form-contact-info-icons span {
    margin-top: 20px;
    width: 256px;
    text-align: center;
    font-size: 1.2rem;
  }

  .form-contact-info-social-media-icons-links i {
    font-size: 1.5rem;
    margin-right: 12px;
  }

  .form-map-content,
  iframe {
    width: 400px;
    height: 400px;
  }
}




























/* Footer Start */

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  color: white;
  background-color: black;
}

.container h2 {
  font-size: 5rem;
  color: #ddd;
  text-align: center;
  padding-bottom: 10rem;
}

footer {
  width: 100%;
  background-color: black;
  color: white;
  box-shadow: -5px -0px 2px rgba(0, 0, 0, 0.5);
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: #da600c;
  transition: 0.6s;
}

.footer_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2rem 0;
  grid-gap: 2.5rem;
}

.footer_headings {
  padding-bottom: 2rem;
  position: relative;
}

.footer_headings::after {
  content: "";
  height: 3px;
  background: #e74c3c;
  width: 25%;
  position: absolute;
  top: 30px;
  left: 0px;
}

#footer_headings-logo {
  display: flex;
  align-items: center;
}

.first_section img {
  display: block;
  object-fit: cover;
  width: 70px;
}

#footer_headings-logo span {
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
}
.first_section p {
  padding: 1.5rem 0;
  text-align: justify;
  color: #dddddd;
}

.social_icons {
  display: flex;
  justify-content: space-between;
}

.social_icons i {
  font-size: 1.5rem;
  cursor: pointer;
  background: #ddd;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transform: translateY(0);
  transition: all 0.5s ease-in-out;
  color: #1c2833;
}

.social_icons i:hover {
  transform: translateY(-5px);
}

/* second sections */
.second_section ul {
  list-style: none;
}

.second_section ul li {
  margin: 2rem 0;
}

.second_section ul li:first-child {
  margin-top: 0;
}

/* third section */
.third_section ul {
  list-style: none;
}

.third_section ul li {
  margin: 1rem 0;
  display: flex;
}

.third_section ul li:first-child {
  margin-top: 0px;
}

.third_section ul li i {
  margin-right: 15px;
  background: #ddd;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 1rem;
}

.third_section span {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* fourth section */
.form_control input,
textarea {
  outline: none;
  border: none;
  border: 1px solid #ddd;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  width: 100%;
  border-radius: 5px;
  font-size: 0.9rem;
}

.fourth_section button {
  display: block;
  width: 100%;
  outline: none;
  background: #e74c3c;
  border: none;
  color: #fff;
  padding: 0.6rem 0;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.9rem;
}

.footer_txt {
  background-color: black;
  padding: 1.1rem 0;
  text-align: center;
  box-shadow: -5px -0px 2px rgba(0, 0, 0, 0.5);
}

















/* Media Quires Started */

@media (max-width: 991px) {
  header {
    padding: 1rem 2rem;
  }
}

@media (max-width: 768px) {
  header {
    padding: 0px 5%;
  }

  header .btn {
    display: block;
  }

  header .navbar {
    position: fixed;
    flex-direction: column;
    min-width: 300px;
    height: 100vh;
    background: black;
    top: 0;
    right: -100%;
    transition: all 0.9s;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 10rem;
  }

  header .navbar.active2 {
    right: 0;
    transition: 0.9s;
  }

  header .navbar .close-btn {
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
  }

  header .navbar a {
    display: block;
    font-size: 1.3rem;
    margin: 15px 15px;
    padding: 0.5rem 15px;
  }

  header .navbar a:hover {
    background: #21293a;
    color: #fff;
  }

  header .logo {
    font-size: 25px;
    font-weight: 500;
  }
}

/* Media Quire Footer Start */

@media (max-width: 768px) {
  body {
    min-height: 50vh;
  }

  .footer_content {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
    padding: 3rem 0;
  }

  .social_icons i {
    font-size: 1.3rem;
    width: 45px;
    height: 45px;
  }

  .container h2 {
    font-size: 4rem;
    padding-bottom: 5rem;
  }
}

@media (max-width: 568px) {
  .footer_content {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem;
    padding: 2.5rem 0;
  }

  .container h2 {
    font-size: 3rem;
    padding-bottom: 4rem;
  }

  .social_icons i {
    font-size: 1rem;
    width: 35px;
    height: 35px;
  }
}
