@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Services */

*{
  margin: 0;
  padding: 0;
}

body{
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}
.div1{
    display: flex;
    flex-direction: column;
    margin-inline: 3em;
    padding-top: 100px;
}

.card {
    display: flex;
    flex-direction: row;
    background-color: rgb(253, 253, 253);
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: auto;
    margin-block: 2.5em;
    transition: transform 0.3s, box-shadow 0.3s;
    transform: translateX(-170%);
    animation: card-animation 1s ease-in-out forwards;
}

@keyframes card-animation {
    100% {
      transform: translate(0);
    }
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);

    .postcard__bar{
        width: 10em;
        background-color: orangered;
        transform: translateY(-0.5em);
    }
}

.card1 {
    display: flex;
    flex-direction: row;
    background-color: rgb(253, 253, 253);
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: auto;
    margin-block: 2.5em;
    transition: transform 0.3s, box-shadow 0.3s;
    transform: translateX(170%);
    animation: card1-animation 1s ease-in-out forwards;
}

@keyframes card1-animation {
    100% {
      transform: translate(0);
    }

    
}

.card1:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);

    .postcard__bar{
        width: 10em;
        background-color: orangered;
    }
}

.card:hover .card-image1 {
    transform: scale(1.1);
}

.card1:hover .card-image1 {
    transform: scale(1.1);
}

.card-image1 {
    width: 30%;
    object-fit: cover;
    transition: transform 0.3s;
}

.card-content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 68%;
    transform: translateX(10px);
    padding-right: 2em;
}


.card-content h2 {
    margin: 0;
    font-size: 1.8em;
    color: #333;
    transition: transform 0.5s ease;
}

.card-content h2::first-letter{
    color: orangered;
    font-size: 1.5em;
    transition: transform 0.5s ease;
}

.card-content p {
    margin: 0 0 16px;
    color: #666;
    line-height: 1.6;
}

.postcard__bar {
    width: 4em;
    height: 0.5em;
    margin: 1em 0;
    border-radius: 0.5em;
    background-color: #424242;
    transition: width 0.4s ease;
}


/* Responsive Design */
@media (max-width: 768px) {
    .card {
        flex-direction: column;
    }

    .card1 {
        flex-direction: column;
    }
    
    .card-image1 {
        width: 100%;
        height: 200px;
    }

    .card-content {
        width: 95%;
        transform: translateX(-10px);
    }
}

/* after-home-2 */
.after-home-2 {
    height: 25vh;
    background-color: #fe9a68;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    margin-block: 3em;
    margin-inline: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.card_text {
    margin-block: 1em;
    color: rgb(0, 0, 0);
    transform: translateY(70%);
    animation: card1-animation 1s ease-in-out forwards;
}

.card_text h4 {
    font-size: 40px;
    margin-bottom: 0;
    transition: transform 0.3s;
}

.home_card:hover .card_text h4 {
  transform: scale(1.5);
}


.card_text p {
    font-size: 20px;
    transition: transform 0.3s;
}

.home_card:hover .card_text p {
  transform: scale(1.1);
}

.card_text img {
  width: 4em;
  margin-bottom: 1em;
  transition: transform 0.3s;
}

.home_card:hover .card_text img {
  transform: scale(1.1);
}

.div2{
  background-color: white;
  margin-inline: 5em;
  padding-block: 3em;
  margin-block: 3em;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
}

.div2:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
}

.div2 h1{
  transform: translateY(70%);
  animation: card1-animation 1s ease-in-out forwards;
}

.div2 h4 {
  margin-inline: 2em;
  transform: translateY(70%);
  animation: card1-animation 1s ease-in-out both;
}

.after-home-1 {
  height: 25vh;
  background-color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  margin-block: 2em;
  margin-inline: 5em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

svg{
  padding-bottom: 2.5em;
}

@media screen and (max-width: 600px) {
    .after-home-2 {
    height: 6rem;
    margin-block: 2em;
    }
    .after-home-1 {
      height: 6rem;
      margin-inline: 1em;
      }

    .card_text h4 {
    font-size: 12px;
    }

    .card_text p {
    font-size: 7px;
    }

    .card_text img {
      width: 1.5em;
    }
    
    .div2{
      margin-inline: 1em;
      text-align: center;      
    }

    

    svg{
      size: 1em;
      padding-bottom: 2em;
    }
    
}

@media screen and (max-width: 900px) and (min-width: 600px) {

    .after-home-2 {
    height: 8rem;
    margin-block: 2em;
    }

    .after-home-1 {
      height: 8rem;      }

    .card_text {
    margin-top: 1em;
    }

    .card_text h4 {
    font-size: 20px;
    }

    .card_text p {
    font-size: 10px;
    }

    .card_text img {
      width: 3em;
    }
}


@media screen and (max-width: 1500px) and (min-width: 900px) {

    .after-home-2 {
    height: 10rem;
    margin-block: 2em;
    }

    .after-home-1 {
      height: 10rem;
      }

    .card_text {
    margin-top: 1em;
    }

    .card_text h4 {
    font-size: 30px;
    }

    .card_text p {
    font-size: 15px;
    }

    .card_text img {
      width: 4em;
    }
}

/* Header & Footer */
header {
  position: fixed;
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  background: black;
  color: #fff;
  /* box-shadow: 5px 5px 10px #797979; */
  z-index: 1;
  opacity: 0.9;
}

header span{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.5px;
}

header .navbar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .navbar a {
  font-size: 1.3rem;
  font-weight: 400;
  text-decoration: none;
  margin: 0 15px;
  color: white;
  letter-spacing: 1.3px;
}

header .navbar a:hover,
.active {
  color: #da500c;
  transition: 0.6s;
}

header .btn {
  font-size: 25px;
  cursor: pointer;
  display: none;
  color: white;
}


/* Footer Start */

  
  .container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    color: white;
  }
  
  .container h2 {
    font-size: 5rem;
    color: #ddd;
    text-align: center;
    padding-bottom: 10rem;
  }
  
  footer {
    width: 100%;
    /* position: fixed; */
    bottom: 0;
    background-color: black;
    color: white;
    box-shadow: -5px -0px 2px rgba(0, 0, 0, 0.5);
  }
  
  footer a {
    text-decoration: none;
    /* color: #1c2833; */
    color: white;
  }
  
  footer a:hover{
    color: #da600c;
    transition: 0.6s;
  }
  
  .footer_content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem 0;
    grid-gap: 2.5rem;
  }
  
  .footer_headings {
    /* color: #000;
     */
    padding-bottom: 2rem;
    position: relative;
  }
  
  .footer_headings::after {
    content: "";
    height: 3px;
    background: #e74c3c;
    width: 25%;
    position: absolute;
    top: 30px;
    left: 0px;
  }
  
  #footer_headings-logo{
    display: flex;
    align-items: center;
  }
  
  .first_section img {
    display: block;
    object-fit: cover;
    width: 70px;
  }
  
  #footer_headings-logo span{
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
  }
  .first_section p {
    padding: 1.5rem 0;
    
    color: #DDDDDD;
  }
  
  .social_icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .social_icons i {
    font-size: 1.5rem;
    cursor: pointer;
    background: #ddd;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transform: translateY(0);
    transition: all 0.5s ease-in-out;
    color: #1c2833;
  }
  
  .social_icons i:hover {
    transform: translateY(-5px);
  }
  
  /* second sections */
  .second_section ul {
    list-style: none;
  }
  
  .second_section ul li {
    margin: 2rem 0;
  }
  
  .second_section ul li:first-child {
    margin-top: 0;
  }
  
  /* third section */
  .third_section ul {
    list-style: none;
  }
  
  .third_section ul li {
    margin: 1rem 0;
    display: flex;
  }
  
  .third_section ul li:first-child {
    margin-top: 0px;
  }
  
  .third_section ul li i {
    margin-right: 15px;
    background: #ddd;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 1rem;
  }
  
  .third_section span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* fourth section */
  .form_control input,
  textarea {
    outline: none;
    border: none;
    border: 1px solid #ddd;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    width: 70%;
    border-radius: 5px;
    font-size: 0.9rem;
  }
  
  .fourth_section button {
    display: block;
    width: 80%;
    outline: none;
    background: #e74c3c;
    border: none;
    color: #fff;
    padding: 0.6rem 0;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.9rem;
  }
  
  .footer_txt {
    padding: 1.1rem 0;
    text-align: center;
    box-shadow: -5px -0px 2px rgba(0, 0, 0, 0.5);
  }
  
  /* header mediaquery */
  @media (max-width: 991px) {
    header {
      padding: 1rem 2rem;
    }
  }
  

  
  
  @media (max-width: 768px) {
    
    header {
      padding: 0px 5%;
      max-width: 100%;
    }
  
    header .btn {
      display: block;
      color: white;
    }
  
    header .btn :hover{
      
      color: white;
    }
  
    header .navbar {
      position: fixed;
      flex-direction: column;
      min-width: 300px;
      height: 100vh;
      background: black;
      top: 0;
      right: -100%;
      transition: all 0.9s;
      align-items: flex-start;
      justify-content: flex-start;
      padding-top: 10rem;
    }
  
    header .navbar.active2 {
      right: 0;
      transition: 0.9s;
      color: white;
    }
  
    header .navbar .close-btn {
      position: absolute;
      top: 0;
      right: -100%;
      left: 0;
      margin: 25px 25px 25px 100px;
      color: white;
      
    }
  
    header .navbar a {
      display: block;
      font-size: 1.3rem;
      margin: 15px 15px;
      padding: 0.5rem 15px;
    }
  
    header .navbar a:hover {
      background: #21293a;
      color: #ffffff;
    }
  
    header .logo {
      font-size: 25px;
      font-weight: 500;
    }
  }
  
  
  /* Footer Start */
  
  @media (max-width: 768px) {
    
    .footer_content {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
      padding: 3rem 0;
    }
  
    .social_icons i {
      font-size: 1.3rem;
      width: 45px;
      height: 45px;
    }
  
    .container1 h2 {
      font-size: 4rem;
      padding-bottom: 5rem;
    }
  }
  
  @media (max-width: 568px) {

    header{
      width: 75%;
    }

    header span{
      width: 60%;
      font-size: small;
    }
    
    .footer_content {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 3rem;
      padding: 2.5rem 0;
    }
  
    .container1 h2 {
      font-size: 3rem;
      padding-bottom: 4rem;
    }

    .third_section ul li {
      width: 80%;
    }
    

    .first_section p {
      width: 80%;
    }
    
    .social_icons {
      width: 80%;
    }
    
    .social_icons i {
      font-size: 1rem;
      width: 35px;
      height: 35px;
    }
  
   
  }

  
  