@media (max-width: 991px) {
  header {
    padding: 1rem 2rem;
  }
}

@media (max-width: 768px) {
  header {
    padding: 0px 5%;
  }

  header .btn {
    display: block;
    color: white;
  }

  header .btn :hover{
    
    color: white;
  }

  header .navbar {
    position: fixed;
    flex-direction: column;
    min-width: 300px;
    height: 100vh;
    background: black;
    top: 0;
    right: -100%;
    transition: all 0.9s;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 10rem;
  }

  header .navbar.active2 {
    right: 0;
    transition: 0.9s;
  }

  header .navbar .close-btn {
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
  }

  header .navbar a {
    display: block;
    font-size: 1.3rem;
    margin: 15px 15px;
    padding: 0.5rem 15px;
  }

  header .navbar a:hover {
    background: #21293a;
    color: #ffffff;
  }

  header .logo {
    font-size: 25px;
    font-weight: 500;
  }
}


/* Footer Start */

@media (max-width: 768px) {
  body {
    min-height: 50vh;
  }

  .footer_content {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
    padding: 3rem 0;
  }

  .social_icons i {
    font-size: 1.3rem;
    width: 45px;
    height: 45px;
  }

  .container1 h2 {
    font-size: 4rem;
    padding-bottom: 5rem;
  }
}

@media (max-width: 568px) {
  .footer_content {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem;
    padding: 2.5rem 0;
  }

  .container1 h2 {
    font-size: 3rem;
    padding-bottom: 4rem;
  }

  .social_icons i {
    font-size: 1rem;
    width: 35px;
    height: 35px;
  }

 
}